* {
    margin: 0;
    padding: 0;
}

#grad1 {
    background-image: linear-gradient(to top, rgba(174, 75, 22, 0), rgba(0, 110, 255, 0.432));

}

main {
    text-align: center;
}

h1 {
    padding-bottom: 20px;
   color: rgb(207, 132, 18);
    text-decoration: none;

}

.navPrincipal {
    width: 100%;
    height: 80px;
    background:#000;
   
}



ul {
    list-style: none;
}

.hamburguercostela-link {
    text-decoration: none;
    position: relative;
    top: 268px;
    left: 119px;
    text-align: center;
    padding: 5px;

}

.hamburguercostela-link a {
       text-decoration: none;
    font-style: oblique;
    font-weight: 600;
    color: rgb(10, 9, 9);
    background-color: antiquewhite;
    font-style: oblique;
    font-weight: 600;
    padding: 5px;
    

}

.hamburguergourmet-link {

    position: relative;
    bottom: 90px;
    right: 0;
    text-align: center;
    padding: 10px;

}

.hamburguergourmet-link a {
    position: relative;
    bottom: 25px;
    left: 113px;
    text-decoration: none;
    color: rgb(10, 9, 9);
    background-color: antiquewhite;
    font-style: oblique;
    font-weight: 600;
    padding: 5px;

}

.conteiner {
    width: 400px;
    margin: auto;
    position: relative;
    color: rgb(172, 24, 117);
    text-decoration: none;
}

.conteiner img {
    width: 100%;
    color: black;
    text-decoration: none;
}

.baixoEsquerda {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.hamburguerfrango {
   position: relative;
}

.hamburguerfrango-link a {
    position: relative;
    bottom: 25px;
    left: 105px;
    text-decoration: none;
    color: rgb(10, 9, 9);
    background-color: antiquewhite;
    font-style: oblique;
    font-weight: 600;
    padding: 5px;

}

.hamburguergourmet-link {
    top: 20px;
    
}

button {
    background-color: plum;
    color: aliceblue;
    border-radius: 10px;
    width: 38px;
    height: 25px;
    position: relative;

}

button:active {
    background-color: red;
}

.rodape {
    background-color: rgb(2, 2, 2);
    height: 60px;
    bottom: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.rodape span {
    color: rgb(207, 132, 18);
    margin-left: 20px;
    padding: 4px 4px 4px 4px;
}

.rodape a {
    text-decoration: none;
    color: rgb(207, 132, 18);
    margin-right: 20px;
    padding: 4px 4px 4px 4px;
}